.modalBody {
    textarea {
        width: 100%;
        height: 6.5rem;
        padding: 0.25rem 0.5rem;

        &:focus-visible {
            outline: none;
        }
    }
}

.modalFooter {
    button {
        flex: 1;
        height: 2.75rem;
    }
}
